*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title{
    text-align: center;
}
article{
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
    width: 350px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
 
}
.cards-container{
position: absolute;
width: 100%;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

img{
    width: 80%;
    position: relative;
    top: 20px;
    left: 40px;
 
}
header {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
    border-radius: 4px 4px 0px 0px;
    height: 180px;
}

section{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: end;
    margin-bottom: 0.5em;
    border-radius: 5px;
    padding-bottom: 0.5em;
    height: 180px;

}

footer{
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color:white;
    border-radius: 5px;
}
.stat__info-details{
    display: grid;
    grid-template-columns: 75% 15%; 
    grid-auto-rows: 30px;
   column-gap: 10px;
}

li{
    list-style: none;
}