


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home_title1{
    background-color: red;
    height: 65px;
    position: relative;
    
}

.home_title2{
    background-color: black;
    height: 40px;
}

.home__img{
    width: 20%;
    position: absolute;
}



.home__title-text{
    color:#FE1936;
    margin-bottom: 5px;
    
}
.home__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
}
.home__description{
margin-bottom: 30px;
color: #FE1936;

}

.home__input{
    display: block;
    padding: 8px 12px;
    border: 0;
    width: min-content;
}
.home__input::placeholder{
    color:#d3d3d3
}
.home__btn{
    padding:10px 15px;
    border:none;
    background-color: #FE1936;
    color: white;
    cursor: pointer;
}

.home__btn:hover{
    filter:brightness(1.1);
    color: white;
    background-color: black;
}
.title{
    text-align: center;
}
article{
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
    width: 350px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 1px 7px #0003;;
    cursor: pointer;
    transition: transform 200ms ease;
}

article:hover{
    transform: scale(1.05);
    transition: transform 200ms ease;
}

.cards-container{
position: absolute;
width: 100%;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

img{
    width: 80%;
    position: relative;
    top: 20px;
    left: 40px;
 
}
header {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
    border-radius: 4px 4px 0px 0px;
    height: 180px;
}


section{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: end;
    margin-bottom: 0.5em;
    border-radius: 5px;
    padding-bottom: 0.5em;
    height: 180px;

}

footer{
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color:white;
    border-radius: 5px;
}
.stat__info-details{
    display: grid;
    grid-template-columns: 75% 15%; 
    grid-auto-rows: 30px;
   column-gap: 10px;
}

li{
    list-style: none;
}

.search__input{
    width: 200px;
    display: flex;
    flex-direction: row;
   
}

.search__principal{
    width: 180px;
    margin: 50px;
    background-color: #FE1936;
position: relative;
}

.select__Type{
background-color: white;
width: 250px;
height: 40px;
border: none;
display: flex;
    padding: 8px 20px;
    border: 0;
    position: absolute;
    top: -5px;
    right:-500px;
   


}